#sudoku-main-div {
  height: 89.9%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#options-panel {
  height: 40%;
  width: 25%;
  float: left;
  display: flex;
  position: absolute;
  left: 3vw;
  top: 30%;
  margin-left: 20px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
}

#difficulties-div {
  height: 50%;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

#difficulties-div h3 {
  margin-left: 10px;
}

#difficulties-div ul {
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

#difficulties-div ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  margin-top: 15px;
}

.light-diff-btn {
  color: black;
  background: white;
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.dark-diff-btn {
  color: white;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  background: #131419;
  transition: 0.5s;
}

.light-diff-btn:hover {
  box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.dark-diff-btn:hover {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#difficulties-div ul li button {
  height: 100%;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}

#difficulties-div ul li:nth-child(1) {
  margin-top: 0;
}

#right-side-div {
  min-height: 100%;
  min-width: 60%;
}

#timer-div {
  width: 100%;
  height: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#timer-div h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  visibility: hidden;
}

#timer-switch {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 10px;
}

#timer-switch .btn {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 0 0 2px #000, 0 0 0 5px #131419,
    0 0 0 5.5px #080808;
}

#timer-switch input[type='checkbox'] {
  -webkit-appearance: none;
}

#timer-switch .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7em;
  color: #0c0c0c;
}

#timer-switch input[type='checkbox']:checked ~ .btn {
  box-shadow: 0 0 0 rgba(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 0 0 2px #000, 0 0 0 5px #131419,
    0 0 0 5.5px #00a1ff;
}

#timer-switch input[type='checkbox']:checked ~ .fa {
  color: #00ffe7;
  text-shadow: 0 0 15px #00a1ff, 0 0 30px #00a1ff;
}

#finished-div {
  visibility: hidden;
}

#sudoku-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sudoku-container {
  background: white;
  color: black;
  border-collapse: collapse;
}

#sudoku-container tr td {
  text-align: center;
  border: thin solid black;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bolder;
}

.cell-container {
  background: rgb(233, 233, 233);
}

.cell-input {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cell-input:hover {
  cursor: pointer;
}

#sudoku-container tr td:nth-child(1n + 9) {
  border-right: none;
}

#sudoku-container tr td:nth-child(9n + 1) {
  border-left: none;
}

#sudoku-container tr:nth-child(1) td {
  border-top: none;
}

#sudoku-container tr:nth-child(9) td {
  border-bottom: none;
}

#sudoku-container tr:nth-child(3n + 3) td {
  border-bottom: 3px solid black;
}

#sudoku-container tr td:nth-child(3n + 3) {
  border-right: 3px solid black;
}
