#bouncy-div {
  height: 89.9%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bouncy-canvas {
  height: 70%;
  width: 70%;
}

.dark-canvas {
  background: white;
  transition: 0.5s;
}

.light-canvas {
  background: rgb(224, 224, 224);
  transition: 0.5s;
}
